@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/izz1exi.css");

@font-face { 
  font-family: "Humane"; 
  src: url('fonts/Humane-Light.woff2') format('woff2'); 
  font-weight: Light; 
  font-style: normal;
  text-rendering: optimizeLegibility; 
} 

@font-face { 
  font-family: "Humane"; 
  src: url('fonts/Humane-Regular.woff2') format('woff2'); 
  font-weight: normal; 
  font-style: normal;
  text-rendering: optimizeLegibility; 
}

@font-face { 
  font-family: "Humane"; 
  src: url('fonts/Humane-Medium.woff2') format('woff2'); 
  font-weight: Medium; 
  font-style: normal;
  text-rendering: optimizeLegibility; 
} 
  
@font-face { 
  font-family: "Humane"; 
  src: url('fonts/Humane-Bold.woff2') format('woff2'); 
  font-weight: bold; 
  font-style: normal;
  text-rendering: optimizeLegibility; 
}

@font-face { 
  font-family: "Humane"; 
  src: url('fonts/Humane-Black.woff2') format('woff2'); 
  font-weight: black; 
  font-style: normal;
  text-rendering: optimizeLegibility; 
}
  


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "sofia-pro", sans-serif;
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Non TW Rules */

.Section_Headline{
  font-family: Humane;
  font-size: 12em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: 2.5px;
}

@media only screen and (max-width: 1280px) {
  .Section_Headline{
    font-size: 10em;
  }
  .Section_Headline.small{

    font-size: 5em;
  }
}

@media only screen and (max-width: 768px) {
  .Section_Headline{
    font-size: 6.5em;
  }
  .Section_Headline.small{

    font-size: 4em;
  }
}

.Section_Headline.small{

  font-size: 6em;
  line-height: 95%;
}

.Section_Headline.smaller{

  font-size: 4em;
  line-height: 95%;
}


.ProjectCard-Heading{
  font-family: Humane;
  font-size: 12vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: 2.5px;
}

.Highlight_CTA{
  width: 80em;
  position: absolute;
  filter: blur(200px);
  height: 80em;
  border-radius: 100%;
}

.TextTransform{
  transform: perspective(1500px);

}
