@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/izz1exi.css");

@font-face { 
  font-family: "Humane"; 
  src: url('/public/fonts/Humane-Light.woff2') format('woff2'); 
  font-weight: Light; 
  font-style: normal;
  text-rendering: optimizeLegibility; 
} 

@font-face { 
  font-family: "Humane"; 
  src: url('/public/fonts/Humane-Regular.woff2') format('woff2'); 
  font-weight: normal; 
  font-style: normal;
  text-rendering: optimizeLegibility; 
}

@font-face { 
  font-family: "Humane"; 
  src: url('/public/fonts/Humane-Medium.woff2') format('woff2'); 
  font-weight: Medium; 
  font-style: normal;
  text-rendering: optimizeLegibility; 
} 
  
@font-face { 
  font-family: "Humane"; 
  src: url('/public/fonts/Humane-Bold.woff2') format('woff2'); 
  font-weight: bold; 
  font-style: normal;
  text-rendering: optimizeLegibility; 
}

@font-face { 
  font-family: "Humane"; 
  src: url('/public/fonts/Humane-Black.woff2') format('woff2'); 
  font-weight: black; 
  font-style: normal;
  text-rendering: optimizeLegibility; 
}
  


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: poppins, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Non TW Rules */

.Section_Headline{
  font-family: Humane;
  font-size: 14em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: 2.5px;
}


.ProjectCard-Heading{
  font-family: Humane;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: 2.5px;
}

.Highlight_CTA{
  width: 50em;
  position: absolute;
  filter: blur(200px);
  height: 50em;
  border-radius: 100%;
}
